body {
    padding: 0;
    margin: 0;
}

/* Estilos para el encabezado (header) */
header {
    background-color: #333; /* Fondo oscuro */
    color: #fff; /* Texto en color blanco */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Texto centrado */
}

/* Estilos para la navegación en el encabezado */
header nav ul {
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0; /* Quita el espaciado interno de la lista */
}

header nav ul li {
    display: inline; /* Los elementos de la lista se muestran en línea */
    margin-right: 20px; /* Margen derecho entre los elementos de la lista */
}

header nav ul li a {
    text-decoration: none; /* Quita la subrayado de los enlaces */
    color: #fff; /* Texto de enlace en color blanco */
    font-weight: bold; /* Texto de enlace en negrita */
}
.imagen-container {
    display: flex; /* Mostrar las imágenes en línea */
    justify-content: center; /* Centrar horizontalmente las imágenes */
    margin-top: 20px; /* Espacio superior */
}

.imagen-container img {
    width: 300px; /* Ancho de las imágenes */
    height: auto; /* Mantener la proporción de aspecto */
    margin: 0 10px; /* Margen entre las imágenes */
}